.cancel-delete-button{
  background: #17d1ac;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  height: 42px;
  width: 105px;
}

.delete-button{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  height: 42px;
  width: 105px;
}