.log-in-to-action-container{
  max-width: 600px;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #17d1ac41;
  border-top: none;
  height: 130.587px;
  display: flex;
  justify-content: center;
  align-items: center;
}
